<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>UserData</title>
    <style>
        ul li a {
            color: #919da0;
        }
        ul li a:hover {
            color: #c5cbcf;
        }
    </style>
</head>

<body style="background: #f8f9fa">

<!--Строка, показывающая авторизованного пользователя-->
<nav class="navbar bg-dark navbar-dark">

    <!--Внедрение данных реализовано в js-->
    <span class="navbar-text" id="authority">

    </span>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/login">Logout</a>
        </li>
    </ul>
</nav>

<!--Вся остальная страница-->
<div class="container-fluid">
    <div class="row">
        <div class="col-2 pl-0 pr-0 pt-3 bg-white" style="height: 100vh">

            <!--Проверка на админку-->
            <div id="is_user">

            </div>
            <a class="btn btn-primary btn-block" style="text-align: left" href="/user" role="button">User</a>
        </div>

        <!--Правая часть страницы-->
        <div class="col-10 px-4 pt-1 my-2 bg-light text-black">
            <h1>User information-page</h1>
            <div class="card">
                <div class="card-header">
                    <b><font size="4" face="sans-serif">About user</font></b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <table class="table table-striped table-hover bg-white">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                            </thead>

                            <!--Внедрение данных реализовано в js-->
                            <tbody  id="table_user">

                            </tbody>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/userpanel.js"></script>
</body>
</html>